@require "app/styles/charte"

#particles-js
	position: absolute
	left: 10%
	top: 15%
	width: 80%

#particles-js h1
	position: relative
	color: white
	font-weight: 700
	font-size: 2em
	margin-bottom: 15%
	text-align: center

#particles-js label
	color: white
	font-size: 1.5em
	font-weight: 500
	margin-bottom: 10px

#particles-js .checkbox label
	font-size: 1em

#particles-js .btn-default
	color: white
	background-color: $btn-color
	font-size: 1.2em
	font-weight: 500
	border: 0
	width: 100%

#login
	height: 100vh
	background-image: $background-login

#access a
	font-size: 1.2em
	text-align: center
	color: $black
	margin-top: 1em

#access
	text-align: center
	margin-top: 1em

@media (min-width: 992px)
	#particles-js
		position: absolute
		left: 35%
		top: 15%
		width: 30%
